{% extends 'base.html.twig' %}

{% block title %}Pokemon form{% endblock %}

{% block body %}
<div>
	<h1 class="text-2xl">Pokemon form</h1>
	
	<form action="{{ path('app_default') }}" method="post">
		{{ form(form) }}
	</form>
</div>
{% endblock %}
